
<h2>
  <%= l(:login_as_user) %>:
  <%= form_tag spectator_change_user_path, method: "post", id: "change_user_form" do %>
    <%= text_field_tag 'user_change' %>
    <%= hidden_field_tag 'user_change_id' %>
    <%= submit_tag 'Change User' %>
  <% end %>
</h2>

<% if session[:spectator_id] %>
  <% user_orig = User.find(session[:spectator_id]) %>
  <% if user_orig != User.current %>
    <h2>Change back to: <%= button_to user_orig.name, spectator_change_user_path, params: {user_change_id: user_orig.id} %></h2>
  <% end %>
<% end %>


<%= javascript_tag do %>

  $(document).ready(function(){
    $('#user_change').autocomplete({
      source: '/spectator/user_list',
      select: function(event, ui){
        event.preventDefault();
        if(ui.item.value != "None"){         
          $(this).val(ui.item.label);
          $('#user_change_id').val(ui.item.value);
          $("#change_user_form").submit()
        }else{
          $(this).val("");
          $('#user_change_id').val("");
        }
      },
      minLength: 2,
      focus: function(event, ui){
      return false;
        }
    });
  });

<% end %>